<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.lzx.entity.Admin">
    <id column="adm_id" jdbcType="INTEGER" property="admId" />
    <result column="adm_phone" jdbcType="VARCHAR" property="admPhone" />
    <result column="adm_password" jdbcType="VARCHAR" property="admPassword" />
    <result column="adm_name" jdbcType="VARCHAR" property="admName" />
    <result column="adm_id_number" jdbcType="VARCHAR" property="admIdNumber" />
    <result column="adm_sex" jdbcType="VARCHAR" property="admSex" />
    <result column="adm_birthday" jdbcType="DATE" property="admBirthday" />
    <result column="adm_work_time" jdbcType="DATE" property="admWorkTime" />
    <result column="adm_left_time" jdbcType="DATE" property="admLeftTime" />
    <result column="adm_photo" jdbcType="VARCHAR" property="admPhoto" />
  </resultMap>

  <insert id="insert" parameterType="com.lzx.entity.Admin" useGeneratedKeys="true" keyColumn="adm_id">
    insert into admin (adm_phone, adm_password,
      adm_name, adm_id_number, adm_sex, 
      adm_birthday, adm_work_time,adm_photo)
    values (#{admPhone,jdbcType=VARCHAR}, #{admPassword,jdbcType=VARCHAR},
      #{admName,jdbcType=VARCHAR}, #{admIdNumber,jdbcType=VARCHAR}, #{admSex,jdbcType=VARCHAR}, 
      #{admBirthday,jdbcType=DATE}, #{admWorkTime,jdbcType=DATE}, #{admPhoto,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lzx.entity.Admin">
    update admin
    set adm_phone = #{admPhone,jdbcType=VARCHAR},
      adm_password = #{admPassword,jdbcType=VARCHAR},
      adm_name = #{admName,jdbcType=VARCHAR},
      adm_id_number = #{admIdNumber,jdbcType=VARCHAR},
      adm_sex = #{admSex,jdbcType=VARCHAR},
      adm_birthday = #{admBirthday,jdbcType=DATE},
      adm_work_time = #{admWorkTime,jdbcType=DATE},
      adm_left_time = #{admLeftTime,jdbcType=DATE},
      adm_photo = #{admPhoto,jdbcType=VARCHAR}
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>

  <select id="selectAtWork" resultMap="BaseResultMap">
    select adm_id, adm_phone, adm_password, adm_name, adm_id_number, adm_sex, adm_birthday, 
    adm_work_time, adm_left_time, adm_photo
    from admin where adm_left_time is NULL
  </select>

  <select id="selectByLeftTime" resultType="com.lzx.entity.Admin">
    select adm_id, adm_phone, adm_password, adm_name, adm_id_number, adm_sex, adm_birthday,
    adm_work_time, adm_left_time, adm_photo
    from admin where adm_left_time is not null
  </select>
  <select id="selectByName" resultType="com.lzx.entity.Admin">
     select adm_id, adm_phone, adm_password, adm_name, adm_id_number, adm_sex, adm_birthday,
    adm_work_time, adm_left_time, adm_photo
    from admin where adm_name like concat('%',#{name,jdbcType=VARCHAR },'%')
  </select>
</mapper>