<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.dao.CarTypeMapper">
  <resultMap id="BaseResultMap" type="com.lzx.entity.CarType">
    <id column="ctype_id" jdbcType="INTEGER" property="ctypeId" />
    <result column="ctype_axle_number" jdbcType="INTEGER" property="ctypeAxleNumber" />
    <result column="ctype_total_mass" jdbcType="INTEGER" property="ctypeTotalMass" />
    <result column="ctype_driver_type" jdbcType="VARCHAR" property="ctypeDriverType" />
    <result column="ctype_describe" jdbcType="VARCHAR" property="ctypeDescribe" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_type
    where ctype_id = #{ctypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lzx.entity.CarType" useGeneratedKeys="true" keyColumn="ctype_id">
    insert into car_type (ctype_axle_number, ctype_total_mass, ctype_driver_type, ctype_describe)
    values ( #{ctypeAxleNumber,jdbcType=INTEGER}, #{ctypeTotalMass,jdbcType=INTEGER},
      #{ctypeDriverType,jdbcType=VARCHAR}, #{ctypeDescribe,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lzx.entity.CarType">
    update car_type
    set ctype_axle_number = #{ctypeAxleNumber,jdbcType=INTEGER},
      ctype_total_mass = #{ctypeTotalMass,jdbcType=INTEGER},
      ctype_driver_type = #{ctypeDriverType,jdbcType=VARCHAR},
      ctype_describe = #{ctypeDescribe,jdbcType=VARCHAR}
    where ctype_id = #{ctypeId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select ctype_id, ctype_axle_number, ctype_total_mass, ctype_driver_type, ctype_describe
    from car_type
  </select>
</mapper>