<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.dao.PostMapper">
  <resultMap id="BaseResultMap" type="com.lzx.entity.Post">
    <id column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="post_man" jdbcType="VARCHAR" property="postMan" />
    <result column="post_time" jdbcType="TIMESTAMP" property="postTime" />
    <result column="post_comment_count" jdbcType="INTEGER" property="postCommentCount" />
    <result column="post_context" jdbcType="LONGVARCHAR" property="postContext" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post
    where post_id = #{postId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lzx.entity.Post">
    insert into post (post_id, post_man, post_time, 
      post_comment_count, post_context)
    values (#{postId,jdbcType=INTEGER}, #{postMan,jdbcType=VARCHAR}, #{postTime,jdbcType=TIMESTAMP}, 
      #{postCommentCount,jdbcType=INTEGER}, #{postContext,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lzx.entity.Post">
    update post
    set post_man = #{postMan,jdbcType=VARCHAR},
      post_time = #{postTime,jdbcType=TIMESTAMP},
      post_comment_count = #{postCommentCount,jdbcType=INTEGER},
      post_context = #{postContext,jdbcType=LONGVARCHAR}
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select post_id, post_man, post_time, post_comment_count, post_context
    from post
    where post_id = #{postId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select post_id, post_man, post_time, post_comment_count, post_context
    from post
  </select>
</mapper>