<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.dao.ReleaseUserMapper">
  <resultMap id="BaseResultMap" type="com.lzx.entity.ReleaseUser">
    <id column="rel_id" jdbcType="INTEGER" property="relId" />
    <result column="rel_number" jdbcType="VARCHAR" property="relNumber" />
    <result column="rel_password" jdbcType="VARCHAR" property="relPassword" />
    <result column="rel_photo" jdbcType="VARCHAR" property="relPhoto" />
    <result column="rel_name" jdbcType="VARCHAR" property="relName" />
    <result column="rel_sex" jdbcType="VARCHAR" property="relSex" />
    <result column="rel_birthday" jdbcType="DATE" property="relBirthday" />
    <result column="rel_palce" jdbcType="VARCHAR" property="relPalce" />
    <result column="rel_id_number" jdbcType="VARCHAR" property="relIdNumber" />
    <result column="rel_order_completion_number" jdbcType="INTEGER" property="relOrderCompletionNumber" />
    <result column="rel_order_cancel_number" jdbcType="INTEGER" property="relOrderCancelNumber" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from release_user
    where rel_id = #{relId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lzx.entity.ReleaseUser">
    insert into release_user (rel_id, rel_number, rel_password, 
      rel_photo, rel_name, rel_sex, 
      rel_birthday, rel_palce, rel_id_number, 
      rel_order_completion_number, rel_order_cancel_number
      )
    values (#{relId,jdbcType=INTEGER}, #{relNumber,jdbcType=VARCHAR}, #{relPassword,jdbcType=VARCHAR}, 
      #{relPhoto,jdbcType=VARCHAR}, #{relName,jdbcType=VARCHAR}, #{relSex,jdbcType=VARCHAR}, 
      #{relBirthday,jdbcType=DATE}, #{relPalce,jdbcType=VARCHAR}, #{relIdNumber,jdbcType=VARCHAR}, 
      #{relOrderCompletionNumber,jdbcType=INTEGER}, #{relOrderCancelNumber,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lzx.entity.ReleaseUser">
    update release_user
    set rel_number = #{relNumber,jdbcType=VARCHAR},
      rel_password = #{relPassword,jdbcType=VARCHAR},
      rel_photo = #{relPhoto,jdbcType=VARCHAR},
      rel_name = #{relName,jdbcType=VARCHAR},
      rel_sex = #{relSex,jdbcType=VARCHAR},
      rel_birthday = #{relBirthday,jdbcType=DATE},
      rel_palce = #{relPalce,jdbcType=VARCHAR},
      rel_id_number = #{relIdNumber,jdbcType=VARCHAR},
      rel_order_completion_number = #{relOrderCompletionNumber,jdbcType=INTEGER},
      rel_order_cancel_number = #{relOrderCancelNumber,jdbcType=INTEGER}
    where rel_id = #{relId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select rel_id, rel_number, rel_password, rel_photo, rel_name, rel_sex, rel_birthday, 
    rel_palce, rel_id_number, rel_order_completion_number, rel_order_cancel_number
    from release_user
    where rel_id = #{relId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select rel_id, rel_number, rel_password, rel_photo, rel_name, rel_sex, rel_birthday, 
    rel_palce, rel_id_number, rel_order_completion_number, rel_order_cancel_number
    from release_user
  </select>
</mapper>