<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.dao.ReleaseUserMapper">
  <resultMap id="BaseResultMap" type="com.lzx.entity.ReleaseUser">
    <id column="rel_id" jdbcType="INTEGER" property="relId" />
    <result column="rel_number" jdbcType="VARCHAR" property="relNumber" />
    <result column="rel_password" jdbcType="VARCHAR" property="relPassword" />
    <result column="rel_created" jdbcType="TIMESTAMP" property="relCreated" />
    <result column="rel_state" jdbcType="VARCHAR" property="relState" />
    <result column="rel_photo" jdbcType="VARCHAR" property="relPhoto" />
    <result column="rel_name" jdbcType="VARCHAR" property="relName" />
    <result column="rel_sex" jdbcType="VARCHAR" property="relSex" />
    <result column="rel_birthday" jdbcType="DATE" property="relBirthday" />
    <result column="rel_palce" jdbcType="VARCHAR" property="relPalce" />
    <result column="rel_id_number" jdbcType="VARCHAR" property="relIdNumber" />
    <result column="rel_order_completion_number" jdbcType="INTEGER" property="relOrderCompletionNumber" />
    <result column="rel_order_cancel_number" jdbcType="INTEGER" property="relOrderCancelNumber" />
  </resultMap>

  <insert id="insert" parameterType="com.lzx.entity.ReleaseUser" useGeneratedKeys="true" keyColumn="rel_id">
    insert into release_user (rel_number, rel_password, rel_created, rel_state,rel_order_completion_number,rel_order_cancel_number)
    values ( #{relNumber,jdbcType=VARCHAR}, #{relPassword,jdbcType=VARCHAR}, now(), '登录', 0, 0)
  </insert>

  <update id="updatePasswordByReleaseUser">
    update release_user
    set rel_password = #{relPassword,jdbcType=VARCHAR}
    where rel_number = #{relNumber,jdbcType=VARCHAR}
  </update>

  <update id="updateInfoByReleaseUser">
    update release_user
    set rel_name = #{relName,jdbcType=VARCHAR},
      rel_sex = #{relSex,jdbcType=VARCHAR},
      rel_birthday = #{relBirthday,jdbcType=DATE},
      rel_palce = #{relPalce,jdbcType=VARCHAR},
      rel_id_number = #{relIdNumber,jdbcType=VARCHAR}
    where rel_number = #{relNumber,jdbcType=VARCHAR}
  </update>

  <update id="updateStateByReleaseUser">
    update release_user
    set  rel_state = #{rel_state,jdbcType=VARCHAR}
    where rel_number = #{rel_number,jdbcType=VARCHAR}
  </update>

  <update id="updatePhotoByReleaseUser">
    update release_user
    set rel_photo = #{rel_photo,jdbcType=VARCHAR}
    where rel_number = #{rel_number,jdbcType=VARCHAR}
  </update>

  <update id="updateCompletionNumberByReleaseUser">
    update release_user
    set rel_order_completion_number = rel_order_completion_number + 1
    where rel_number = #{relNumber,jdbcType=VARCHAR}
  </update>

  <update id="updateCancelNumberByReleaseUser">
    update release_user
    set rel_order_cancel_number = rel_order_cancel_number + 1
    where rel_number = #{relNumber,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select rel_id, rel_number, rel_password, rel_created, rel_state, rel_photo, rel_name, 
    rel_sex, rel_birthday, rel_palce, rel_id_number, rel_order_completion_number, rel_order_cancel_number
    from release_user
  </select>

  <select id="selectByPhoneAndPassword" resultType="com.lzx.entity.ReleaseUser">
    select rel_id, rel_number, rel_password, rel_created, rel_state, rel_photo, rel_name,
    rel_sex, rel_birthday, rel_palce, rel_id_number, rel_order_completion_number, rel_order_cancel_number
    from release_user
    where rel_number = #{relNumber,jdbcType=VARCHAR} and rel_password = #{relPassword,jdbcType=VARCHAR}
  </select>

  <select id="selectByCreated" resultType="java.lang.Integer">
    select count(*) from release_user where rel_created like concat(#{date}, '%')
  </select>
</mapper>